.wrap {
  max-width: 960px;
  margin: 0 auto; }

* {
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif; }

h1 {
  padding: 1em 0; }

h3 {
  line-height: 1.2em;
  margin: 1.8em 0 0.4em 0; }

article header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2.2em; }
  article header h2 {
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.15em;
    font-size: 1.5em; }
  article header .date {
    font-style: italic; }

p, ul, ol, dl {
  margin: 0.8em 0; }

p {
  color: #333; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

li {
  display: box; }

ul {
  display: block; }

figure {
  text-align: center;
  margin: 2em 0; }

footer {
  padding: 3.1415em;
  margin-bottom: 6.2831em; }

.author {
  text-align: center; }
