html, body {
  height: 100%; }

body {
  font-family: 'PT Serif', serif;
  color: #535353;
  font-size: 16px;
  text-rendering: optimizelegibility;
  margin: 0;
  padding: 0; }

main {
  max-width: 720px;
  margin: 0 auto; }
  main h1, main h2, main h3, main p, main pre {
    padding: 0 4px; }
  main h1, main h2, main h3, main h4, main h5 {
    font-weight: bold; }
  main h1 {
    font-size: 2.375em;
    line-height: 1.25;
    margin: 0 0 0.625em 0; }
  main h2 {
    font-size: 1.375em;
    line-height: 1.25;
    margin: 1.375em 0 0.6875em 0; }

h1, h2, h3, h4, h5 {
  font-family: 'PT Serif', serif;
  color: #444; }

p {
  line-height: 1.5;
  font-weight: 400;
  margin: 0.75em 0 0 0; }

p + p {
  text-indent: 2em;
  margin-top: 0px; }

header.site-header {
  padding: 0;
  margin-top: 6em; }

article header {
  text-align: center;
  margin-bottom: 5em; }
  article header .date {
    font-family: 'PT Serif', serif;
    color: #AAA;
    margin: 1.5em 0; }
  article header .author {
    margin: 1.5em 0; }

a {
  text-decoration: none;
  color: #00307F; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #00307F; }

figure {
  text-align: center;
  margin: 2.5em 0; }
  figure figcaption {
    padding: 4px; }

video {
  max-width: 640px; }

footer.site-footer {
  font-size: 1.25em;
  padding: 0;
  margin: 6em 0; }

hr {
  margin: 1.375em 0 1.375em 0;
  border: 0;
  border-bottom: 1px dashed black; }

.author {
  text-align: center; }

.article-link {
  font-size: 1.25em;
  line-height: 1.5;
  font-family: 'PT Serif', serif;
  font-weight: bold; }

.article-description {
  color: #535353;
  line-height: 1.5; }
