.wrap {
  max-width: 960px;
  margin: 0 auto; }

* {
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: 'Libre Baskerville'; }

h1, h2 {
  letter-spacing: -1px; }

h1 {
  padding: 1em 0; }

h3 {
  line-height: 1.2em;
  margin: 1.8em 0 0.4em 0; }

article header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2.2em; }
  article header h2 {
    font-size: 1.8em;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.15em; }
  article header .date {
    font-style: italic; }

p, ul, ol, dl {
  margin: 0.8em 0; }

p {
  color: #333;
  margin-bottom: 0; }

p + p {
  text-indent: 1em;
  margin-top: 0; }

a {
  text-decoration: none;
  color: blue; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: purple; }

li {
  display: box; }

ul {
  display: block; }

figure {
  text-align: center;
  margin: 2em 0; }

footer {
  padding: 3.1415em;
  margin-bottom: 6.2831em; }

header[role="banner"] {
  margin: 0 15px; }

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 4px; }

.author {
  text-align: center; }
