$text-color: #333;
$link-color: #00307F;
$link-color-visited: $link-color;
$footer-size: 250px;

html, body {
    height: 100%;
}

body {
    font-family: georgia, serif;
    color: $text-color;
    font-size: 16px;
    text-rendering: optimizelegibility;
    margin: 0;
    padding: 0;
}

header.site-header {
    margin-bottom: 50px;
    border-bottom: 1px dashed black;

    h1 {
        padding: .4em;
        margin: 0;
        font-size: 24px;
        font-weight: 400;
    }
}

main {
    max-width: 720px;
    margin: 0 auto;

    h1, h2, h3, p, pre {
        padding: 0 4px;
    }

    h1, h2, h3, h4, h5 {
        font-weight: bold;
    }

    h1 {
        font-size: 2.375em;
        line-height: 1.25;
        margin: 0 0 0.625em 0;
    }

    h2 {
        font-size: 1.375em;
        line-height: 1.25;
        margin: 1.375em 0 0.6875em 0;
    }
}

h1, h2, h3, h4, h5 {
    letter-spacing: -1px;
    font-family: 'Libre Baskerville', serif;
}

p {
    line-height: 1.375;
    font-weight: 400;
    margin: 0.6875em 0 0 0;
}

p + p {
    text-indent: 2em;
    margin-top: 0px;
}

article header {
    text-align: center;
    margin-top: 4.5em;
    margin-bottom: 5em;

    .date {
        font-family: 'times new roman', serif;
        font-size: 0.875em;
        text-transform: uppercase;
    }
}

a { 
    text-decoration: none;
    color: $link-color;
}

a:hover { 
    text-decoration: underline;
}

a:visited {
    color: $link-color-visited;
}

figure {
    text-align: center;
    margin: 2.5em 0;

    figcaption {
        padding: 4px;
    }
}

video {
    max-width: 640px;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -$footer-size;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: $footer-size;
}

footer.site-footer {
    font-size: 1.125em;
    padding: 0;
}

hr {
    margin: 1.375em 0 1.375em 0;
    border: 0;
    border-bottom: 1px dashed black;
}

.author {
    text-align: center;
}

.article-link {
    padding: .25em;
    font-size: 1.25em;
    line-height: 1.25;
    letter-spacing: -1px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.article-description {
    padding: .5em;
    padding-left: 3.125em;
}

.article-date {
    padding-left: 1.5em;
}
