$text-color: #535353;
$heading-color: #222;
$link-color: #00307F;
$light-color: #AAA;
$link-color-visited: $link-color;

html, body {
    height: 100%;
}

body {
    font-family: 'PT Serif', serif;
    color: $text-color;
    font-size: 16px;
    text-rendering: optimizelegibility;
    margin: 0;
    padding: 0;
}

main {
    max-width: 720px;
    margin: 0 auto;

    h1, h2, h3, p, pre {
        padding: 0 4px;
    }

    h1, h2, h3, h4, h5 {
        font-weight: bold;
    }

    h1 {
        font-size: 2.5em;
        font-weight: normal;
        line-height: 1.25;
        margin: 0 0 0.625em 0;
    }

    h2 {
        font-size: 1.375em;
        line-height: 1.25;
        margin: 1.375em 0 0.6875em 0;
    }
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Serif', serif;
    color: $heading-color;
}

p {
    line-height: 1.5;
    font-weight: 400;
    margin: 0.75em 0 0 0;
}

p + p {
    text-indent: 2em;
    margin-top: 0px;
}

.article-header {
    padding: 0;
    margin: 20px 0;
}

article header {
    text-align: center;
    margin: 4em 0 5em 0;

    .date {
        font-family: 'PT Serif', serif;
        color: $light-color;
    }
}

a { 
    text-decoration: none;
    color: $link-color;
}

a:hover { 
    text-decoration: underline;
}

a:visited {
    color: $link-color-visited;
}

figure {
    text-align: center;
    margin: 2.5em 0;

    figcaption {
        padding: 4px;
    }
}

video {
    max-width: 640px;
}

footer.site-footer {
    font-size: 1.25em;
    padding: 0;
    margin: 6em 0;
}

hr {
    margin: 1.375em 0 1.375em 0;
    border: 0;
    border-bottom: 1px dashed black;
}

.author {
    text-align: center;
}

.article-link {
    font-size: 1.25em;
    margin: 0.625em 0;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.article-description {
    color: $text-color;
    line-height: 1.5;
    margin: 0.625em 0;
}
