<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        {% include 'ga.html' %}

        {% block head %}
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        <header class="site-header" />
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer class="site-footer">
            {% block footer %}
            <p class="author">
                <a href="/">burtgulash.cz</a>
            </p>
            {% endblock %}
        </footer>
    </body>
</html>
