{% extends "base.html" %}
{% block title %}Buřtgulášův chlév{% endblock %}

{% block main %}
{% for article in articles %}
    <ol>
        <li>
            <a class="article-link" href="a/{{article.name}}.html">{{article.title}}</a>
            <div class="article-description">
                <span class="article-date">{{article.date|date_cesky}}</span> 
                <span>Mini návod na blocker µBlock Origin.</span>
            </div>
        </li>
    </ol>
{% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}
