{% extends "base.html" %}
{% block title %}Buřtgulášův chlév{% endblock %}

{% block main %}
<header class="site-header">
    <h1>Buřtgulášův chlév</h1>
</header>

<ul class="articles">
{% for article in articles %}
    <li>
        <a class="article-link" href="a/{{article.name}}.html">{{article.title}}</a>
        <div class="article-description">
            <div class="article-date">{{article.date|date_cesky}}</div>
            <div>{{article.description}}</div>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}

{% block footer %}
{% endblock %}
